/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background:#fff;	
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: 'Raleway', sans-serif;
	font-weight:100;
}

/*-- navigation --*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #2ECC71;
	background-color: #fff;		
}
.navbar-default .navbar-nav>li>a {
	color: #696969;
	font-size: 17px;
	font-weight: 500;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #2ECC71!important;	
}
.navbar-default {
	background-color: #e6e6e6;		
	opacity: 0.8;
}
.navbar-default .navbar-brand {
	color: #FFF	;
}
.navbar-brand {
	float: left;	
	padding: 6px;
}	
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #555;
	background-color: #e7e7e7;
}
.cambio_idioma{
	float: left;	
	font-size: 0.85em;	
}
.cambio_idioma_menu{	
	list-style: none;
	margin-left: 280px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;	
}
.cambio_idioma_menu p{	
	color: #2ECC71!important;
	text-decoration:none;   
}
.cambio_idioma_menu a{	
	color: #696969!important;
	text-decoration:none;   
}
.cambio_idioma_menu a:hover{	
	color: #2ECC71!important;
	text-decoration:none;   	
}
/*-- /navigation --*/

/*-- banner section --*/
/** ---------------------------------------
	* Slider 
----------------------------------------*/
.content {
	width:100%;
	margin:0 auto;
}
.slider-wrapper {
	z-index: 500;
	position: relative;
	width: 100%;
	height: 585px!important;
	background: #FFF;	
	overflow: hidden;
}
.slider-wrapper li {
	display: none;
}
.slider-wrapper .current-slide {
	display: block;
}
.slider-wrapper img {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}
/**
	* ---[Caption] ---------------------- 
**/
.slider-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;		
	padding: 30px 0;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 0.9;
}
.slider-wrapper h3 {
	color: #2ECC71;
	text-align:center;
	font-size: 2em;
	font-weight:normal;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:10px;
}
.slider-wrapper p {
	text-align:center;
	font-size: 17px;
	color: #DADADA;
	font-weight:300;
	line-height: 1.4em;
	/*-- Agile ITS --*/
}
/**
	* ---[Botones-Control] ---------------------- 
**/
.control-buttons {
	text-align: center;
	z-index:20;
}
.control-buttons li {
	cursor: pointer;
	display: inline-block;
	background: #696969;
	text-indent: -99999px;
	height: 12px;
	width: 12px;
	margin: 30px 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.control-buttons li.active {
	background: #2ECC71;
}
.authors {
	text-align: center;
	color: #7a8699;
	display: block;
	font-size: 1.6em;
	font-weight: 300;
	margin-top: 80px;
	font-size: 300;
}
/*-- /banner section --*/ 

/*-- about section --*/
section.about-us {
	padding: 50px 0;
}
section.about-us h2.text-center {
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Montserrat', sans-serif;
	color: #696969;
}
section.about-us p.text-center {
	font-size: 16px;
	font-weight: 300;
	padding: 10px 0;
	line-height: 30px;
	color: #696969;
}
/*-- /about section --*/

/*-- skills section --*/
section.our-skills {
	background:url(../images/habilidades.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	padding: 50px 0;
}
section.our-skills  h3.text-center {
	font-size: 40px;
	font-weight:normal;
	padding:20px 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
section.our-skills  p.text-center {
	font-size:17px;
	font-weight:inherit;
	line-height:25px;
	padding:0px 0 70px;
	color: #fff;	
}
.row{
	margin-right:-15px;
	margin-left:-15px
}
/*-- /skills section --*/

/*-- services section --*/
section.our-services {
	padding: 50px 0;
}
section.our-services h3.text-center{
	font-size:40px;
	color:#696969;
	font-weight:normal;
	padding:20px 0;
	font-family: 'Montserrat', sans-serif;
}
section.our-services p.text-center {
	font-size:17px;
	color:#696969;
	font-weight:300;
	line-height:25px;
	padding-bottom:70px;
}
.serv-info {
	text-align:center;	
	margin-bottom: 50px;
}
section.our-services h4.text-center{
	font-size:1.57em;
	font-weight:normal;
	color:#696969;
	padding: 25px 0 20px;
	font-family: 'Montserrat', sans-serif;
}
section.our-services p.serv{
	font-size: 15px;
	color:#696969;
	font-weight: 400!important;
	padding: 0px 10px;
	color: #545454;
	line-height: 30px;
}
section.our-services i.fa.fa-fort-awesome {
	padding-left: 25px;
}
section.our-services i.fa {
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	border-radius: 5px;
	width: 85px;
	color: #fff;
	-webkit-transition: 0.7s all;
	-moz-transition: 0.7s all;
	-o-transition: 0.7s all;
	-ms-transition: 0.7s all;
	background-color: #2ecc71;
}
section.our-services i.fa:hover {
	background-color:#696969;
	color:#fff;
}
/*-- /services section --*/

/*-- portfolio section --*/
section.our-portfolio {
	background:url(../images/proyectos.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	padding: 50px 0;
}
section.our-portfolio h3.text-center{ 
	font-size:40px;
	font-weight:normal;
	padding:20px 0;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}
section.our-portfolio p.text-center {
	font-size:17px;
	font-weight:inherit;
	line-height:25px;
	padding-bottom:70px;
	color:#fff;
}
/*-- /portfolio section --*/

/*-- contact section --*/
section.contact-us {	
	padding: 50px 0;	
}
section.contact-us h3.text-center {
	color:#696969;
	font-size:45px;
	font-weight:300;
	padding:20px 0;
	font-family: 'Montserrat', sans-serif;
} 
section.contact-us p.text-center {
	color:#696969;
	font-size:17px;
	font-weight:200;
	padding:0px 0 30px;
}
section.contact-us .contact-info {
	text-align: justify;
}
section.contact-us .contact-info h4 {
	font-size:30px;
	padding:20px 0;
	color:#696969;
	font-weight:300;
	font-family: 'Montserrat', sans-serif;
}
section.contact-us .contact-info p {
	font-size:19px;
	padding:10px 0 20px;
	color:#696969;
	font-weight:inherit;
	line-height:25px;
}
section.contact-us .contact-info a {
	color:#696969;
	font-weight:300;
	text-decoration:none;
}
section.contact-us .contact-info a:hover{
	color:#2ECC71;	
}
ul.social-icons2 {
	list-style:none;
	padding-bottom:10px;
}
ul.social-icons2 li {
	display:inline;
}
ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#2ECC71;
	padding:7px 14px 6px;
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;	
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#2ECC71;
	padding: 7px 11px;
	border-radius:50%;
	font-size:17px;
	color:#fff;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#2ECC71;
	padding: 6px 12px 8px;
	border-radius:50%;
	font-size:19px;
	color:#fff;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#2ECC71;
	padding: 6px 9px;
	border-radius:50%;
	font-size:16px;
	color:#fff;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}

input#name, input#fono , input#email , textarea#comments {
	color:#696969;
	border-radius: 0px;
	margin-bottom:10px;
	background-color: rgba(255, 255, 255, 0);
	font-size:17px;
	border:1px solid #696969
}

input#name, input#fono, input#email  {
	height:55px;	
	font-weight:300;
}

input::-webkit-input-placeholder {
	color: #696969 !important;
	font-weight:300;
}

input:-moz-placeholder { /* Firefox 18- */
	color: #696969 !important;  
	font-weight:300;
}

input::-moz-placeholder {  /* Firefox 19+ */
	color: #696969 !important;  
	font-weight:300;
}

input:-ms-input-placeholder {  
	color: #696969 !important;  
	font-weight:300;
}

textarea::-webkit-input-placeholder {
	color: #696969 !important;
	font-weight:300;
}

textarea::-moz-placeholder { /* Firefox 18- */
	color: #696969 !important;  
	font-weight:300;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #696969 !important;  
	font-weight:300;
}

textarea::-ms-input-placeholder {  
	color: #696969 !important;  
	font-weight:300;
}
textarea#comments {
	height:150px;
	font-weight:300;
}
section.contact-us form button {
	border-radius: 0px;
	padding: 10px 30px;
}
.btn-outline1 {
	font-family: 'Montserrat', sans-serif;
	border: solid 1px #696969;
	font-size: 20px;
	color: #696969;
	font-weight:normal;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline1:hover,
.btn-outline1:focus,
.btn-outline1:active {
	border: solid 1px #696969;
	color: #fff;
	background: #2ECC71;
}
/*-- /contact section --*/

/*-- footer section --*/
section.footer {
	padding:50px 0;
	background-color:#000;
}
section.footer .copyright {
	text-align:center;
}
section.footer .copyright p{
	color:#fff;
	font-size:17px;
	font-weight:300;
}
section.footer .copyright p span{
	color:#2ECC71;
}
/*-- /footer section --*/

/*-- sliding animations --*/
.slideanim {visibility:hidden;}
.slide {
	/* The name of the animation */
	animation-name: slide;
	-webkit-animation-name: slide; 
	/* The duration of the animation */
	animation-duration: 1s; 
	-webkit-animation-duration: 1s;
	/* Make the element visible */
	visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	} 
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
/*-- /sliding animations --*/

/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 0 10px rgba(105, 105, 105, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.55) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  background-size:70%;
  border:1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #2ECC71;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    left: 20px;
    bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    left: 20px;
    bottom: 20px;
	}
}
/*-- /back to top --*/

/*-- responsive design --*/
@media (max-width: 2560px) {
	.slider-wrapper {
    height: 1200px!important;
	}
}

@media (max-width: 1600px) {
	.slider-wrapper {
    height: 775px!important;
	}
}

@media (max-width: 1440px) {
	.slider-wrapper {
    height: 695px!important;
	}
	.slider-wrapper p {
		font-size:17px;	
	}
}

@media (max-width: 1366px) {
	.slider-wrapper {
    height: 660px!important;
	}
}

@media (max-width: 1280px) {
	.slider-wrapper {
    height: 610px!important;
	}
}

@media (max-width: 1080px) {
	.cambio_idioma_menu{	
		margin-left: 80px;	
	}
	.slider-wrapper {
    height: 520px!important;
	}
	.view {
    width: 225px;
    height: 225px;
    margin: 5px;
	}
	.view .mask, .view .content {
		width: 225px;
    height: 225px;
	}
}

@media (max-width: 1024px) {
	.slider-wrapper {
    height: 496px!important;
	}
	.view h4 {
		margin:40px 0 0 0;
	}
}

@media (max-width: 991px) {	
	.cambio_idioma_menu{	
		margin-left: 40px;	
	}
	.navbar-right{
		margin-right: -100px;
	}
	.slider-wrapper {
    height: 480px!important;
	}
	section.our-services p.serv{
	padding-left: 0px;
	padding-right: 0px;
	}
	.navbar-brand {
		margin-left: -110px!important;
	}	
	ul.skills {
    margin-top: 50px;
	}
	.grid li {
    width: 33%;
	}
	.slideshow nav span.nav-close {
    top: 30px;
    right: 40px;
	}
	.view {
		width: 250px;
		height: 250px;
		margin: 10px;
		display: inline-block;
		float:none;
	}
	.view .mask, .view .content {
    width: 250px;
    height: 250px;
	}
	.view h4 {
    margin: 50px 0 0 0;
	}
	section.contact-us .contact-info {
		padding-bottom: 50px;
	}
	section.contact-us form button {
		width:100%;
	}
}

@media (max-width: 960px) {	
	.slider-wrapper {
    height: 460px!important;
	}
}

@media (max-width: 900px) {
	.navbar-brand{
	margin-left: -80px!important;
		}
	.cambio_idioma_menu{	
		margin-left: 10px;	
	}
	.navbar-right{
		margin-right: -100px;
	}
	.slider-wrapper {
    height: 436px!important;
	}
	.slideshow nav span.nav-close {
    top: 40px;
    right: 10px;
    color: #000;
	}
}

@media (max-width: 800px) {
	.cambio_idioma_menu{	
		margin-left: 1px;	
	}
	.navbar-right{
		margin-right: -55px!important;
	}
	.slider-wrapper {
    height: 386px!important;
	}
	section.our-skills  p.text-center {			
	margin-left: 5px;
	margin-right: 5px;
	padding:0px 0 1px;	
}
	.nav>li>a {
		padding:10px 10px;	
	}
	ul.nav.navbar-nav.navbar-right {
    margin: 5px -25px 0 0px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -30px;
	}
	.navbar-brand {
		padding: 5px;
		margin-left: -40px!important;
	}	
}

@media (max-width: 773px) {
	.slider-wrapper {
    height: 377px!important;
	}	
}

@media (max-width: 768px) {
	.navbar-right{
		margin-right: -30px!important;
	}
	.slider-wrapper {
    height: 370px!important;
	}
	.navbar-brand{
		margin-left: -20px!important;
	}
	.row{
		margin-right: 15px;
		margin-left: 15px
	}
	.slider-wrapper {
    height: 500px;
	}
	ul.nav.navbar-nav.navbar-right {
    margin: 5px -10px 0 0px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size:16px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
	}
	.nav>li>a {
    padding: 10px 8px;
	}
	.slider-wrapper h3 {
		font-size:25px;
	}
	section.about-us,section.our-skills,section.our-services,section.our-portfolio {
		padding:50px 0;
	}
	section.about-us p.text-center {
    font-size: 15px;
	}
	section.our-services p.serv {
		font-size: 16px;
    font-weight: 300;
    padding: 0px 20px 30px;
	}
}

@media (max-width: 736px) {	
	.cambio_idioma_menu{					
		margin-top: -40px;
		margin-left: 600px;		
	}
	.navbar-brand{
	margin-left: 10px!important;
	margin-top: 1px!important;
		}
		.slider-wrapper {
    height: 357px!important;
	}	
	ul.nav.navbar-nav.navbar-right {
    margin: 0px;		
    text-align: center;
	}
	.navbar-toggle {
		background-color: rgba(0, 0, 0, 0.39);
		margin-right:25px;
	}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 25px;
	}
	section.our-services p.serv {
		padding: 0px 100px 30px;
	}
	section.about-us h2.text-center ,section.our-skills h3.text-center ,section.our-services h3.text-center,section.our-portfolio h3.text-center,section.contact-us h3.text-center {
    font-size: 35px;
	}
	section.contact-us p.text-center {
		padding: 10px 0 15px;
	}
	section.contact-us .contact-info h4 {
		font-size: 25px;
    padding: 20px 0 10px;
	}
	section.contact-us .contact-info p {
    font-size: 17px;
    padding: 10px 0;
	}
	ul.social-icons2 {
		padding: 12px 0;
	}
	.slideshow figure {
		border: 10px solid #fff;
	}
	.grid-gallery figcaption p.port {
		padding: 0 40px;
	}
	.grid li {
    width: 50%;
	}
}

@media (max-width: 731px) {
	.cambio_idioma_menu{							
		margin-left: 590px;		
	}
	.slider-wrapper {
    height: 334px!important;
	}	
}

@media (max-width:667px) {
	.cambio_idioma_menu{							
		margin-left: 520px;		
	}
	.navbar-brand{
	margin-top: 1px!important;
		}
	section.about-us {
	padding: 10px 0;
}
	section.our-skills{
		padding: 10px 0;
		}
		section.our-services{
		padding: 10px 0;
		}
		section.our-portfolio{
		padding: 10px 0;
		}
		section.contact-us{
		padding: 10px 0;
		}
	.slider-wrapper {
    height: 323px!important;
	}	
	.grid-gallery figcaption p.port {
    padding: 0 30px;
	}
}

@media (max-width: 640px) {
	.cambio_idioma_menu{							
		margin-left: 500px;		
	}
	.slider-wrapper {
    height: 313px!important;
	}	
	.navbar-brand{
	margin-top: 1px!important;
		}
	.grid li {
    width: 50%;
	}
}

@media (max-width: 600px) {
	.cambio_idioma_menu{							
		margin-left: 460px;		
		margin-top: -42px;
	}
	.navbar-brand{
	margin-top: 1px!important;
		}
	.slider-wrapper {
    height: 290px!important;
	}
	section.our-skills p.text-center,section.our-services p.text-center,section.our-portfolio p.text-center {
		font-size: 16px;
		padding: 10px 0 30px;
	}	
}

@media (max-width: 568px) {
	.cambio_idioma_menu{							
		margin-left: 420px;				
	}
	input#name, input#fono, input#email {
    height: 45px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
	.navbar-brand{
	margin-top: 1px!important;
		}		
	section.our-skills p.text-center, section.our-services p.text-center, section.our-portfolio p.text-center {
    font-size: 15px;
	}
	section.our-skills p{
		padding-bottom: 1px!important;
		}
	section.our-services p.serv {
    font-size: 15px;
	}	
	.slider-wrapper {
    height: 276px!important;
	}
	.slider-wrapper .caption {
		background: rgba(0, 0, 0, 0.54);
		padding:10px 0;
	}
	.slider-wrapper p {
    font-size: 15px;
	}
	.slider-wrapper h3 {
    font-size: 20px;
	}
	.slideshow figcaption {
		display:none;
	}
	.view {
    width: 230px;
    height: 230px;
	}
	.view .mask, .view .content {
    width: 230px;
    height: 230px;
	}
}

@media (max-width: 533px) {	
.cambio_idioma_menu{							
		margin-left: 390px;				
	}
	.slider-wrapper {
    height: 255px!important;
	}	
}

@media (max-width: 480px) {
	.cambio_idioma_menu{							
		margin-left: 340px;				
	}

	input#name, input#fono, input#email {
    height: 45px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
	.navbar-brand{
	margin-top: 1px!important;
		}
	.slider-wrapper p {
    font-size: 14px;
		line-height:25px;
	}
	.slider-wrapper {
    height: 230px!important;
	}
	section.about-us p.text-center {
    font-size: 14px;
    line-height: 27px;
	}
	.slider-wrapper h3 {
		margin-bottom:5px;
	}
	section.about-us, section.our-skills, section.our-services, section.our-portfolio {
    padding: 30px 0;
	}
	section.about-us h2.text-center, section.our-skills h3.text-center, section.our-services h3.text-center, section.our-portfolio h3.text-center, section.contact-us h3.text-center {
    font-size: 30px;
	}
	section.our-skills p.text-center, section.our-services p.text-center, section.our-portfolio p.text-center {
    font-size: 14px;
	}
	.sonny_progressbar p.title {
		font-size:15px;
	}
	section.our-services p.serv {
    font-size: 14px;
	}
	section.our-services p.serv {
    padding: 0px 30px 30px;
	}
	.grid li {
    width: 100%;
	}
	.slideshow figcaption {
		display:block;
	}
	.view {
    width: 190px;
    height: 190px;
	} 
	.view .mask, .view .content {
    width: 190px;
    height: 190px;
	}
	.view h4 {
    margin: 22px 0 0 0;
	}
	ul.social-icons2 {
		text-align:center;
	}
	.serv-info {
		margin-bottom:30px;
	}
}

@media (max-width: 450px) {
	.cambio_idioma_menu{							
		margin-left: 310px;				
	}

	.slider-wrapper p {
    font-size: 14px;
		line-height:25px;
	}
	.slider-wrapper {
    height: 220px!important;
	}
}

@media (max-width: 436px) {
	.cambio_idioma_menu{							
		margin-left: 300px;				
	}

	.slider-wrapper {
    height: 212px!important;
	}	
}

@media (max-width: 414px) {
	.cambio_idioma_menu{							
		margin-left: 280px;				
	}

	input#name, input#fono, input#email {
    height: 45px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
	.slider-wrapper {
    height: 200px!important;
	}
	/*-- navigation --*/
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		color: #2ECC71;
		background-color: #fff;	
	}
	.navbar-default .navbar-nav>li>a {
		color: #696969;
		font-size: 17px;
		font-weight: 500;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #2ECC71!important;	
	}
	.navbar-default {
		background-color: #e6e6e6;			
	}
	.navbar-default .navbar-brand {
		color: #FFF	;
	}
	.navbar-brand {
		float: left;	
		padding: 6px;
	}	
	.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
		color: #fff;
		background-color: transparent;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
		color: #555;
		background-color: #e7e7e7;
	}
	/*-- /navigation --*/
	
	section.about-us h2.text-center {
		padding:0 0 20px;
	}
	.sonny_progressbar p.title {
    font-size: 14px;
	}	
	.slider-wrapper {
    height: 260px;
	}
	section.our-services h4.text-center {
		padding: 20px 0 10px;
	}
	.slideshow figcaption {
		margin-top: 100px;
	}
	.slideshow figcaption h4 {
		font-size:25px;
	}
	.view {
    width: 160px;
    height: 160px;
	}
	.view .mask, .view .content {
    width: 160px;
    height: 160px;
	}
	.view h4 {
    margin: 8px 0 0 0;
	}
	section.footer .copyright p {
		font-size: 15px;
    line-height: 25px;
	}
	.grid-gallery figcaption p.port {
    padding: 0 10px;
	}
}

@media (max-width: 384px) {
	.cambio_idioma_menu{							
		margin-left: 250px;				
	}
	.slider-wrapper {
    height: 188px!important;
	}
	section.about-us p.text-center {
		padding:0;	
	}
	section.our-skills p.text-center, section.our-services p.text-center, section.our-portfolio p.text-center {
		padding: 10px 10px 30px;
	}
	section.our-services h4.text-center {
    font-size: 22px;
	}
	section.our-services p.serv {
    font-size: 14px;
	}
	.view {
    width: 250px;
    height: 250px;
	}
	.view .mask, .view .content {
    width: 250px;
    height: 250px;
	}
	.view h4 {
    margin: 50px 0 0 0;
	}
	input#name, input#fono, input#email {
    height: 45px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
}

@media (max-width: 375px) {
	.cambio_idioma_menu{							
		margin-left: 240px;				
	}
	.slider-wrapper {
    height: 180px!important;
	}
	section.our-services p.serv {
    padding: 0px 20px 30px;
	}
	.grid figcaption {
		padding: 20px 10px;
	}
	section.contact-us p.text-center {
    padding: 10px 10px 15px;
    font-size: 15px;
	}
	section.contact-us .contact-info h4 {
		text-align:center;
		font-size: 22px;
	}
	input#name, input#fono, input#email {
    height: 45px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
}

@media (max-width: 365px) {
	.cambio_idioma_menu{							
		margin-left: 230px;				
	}
	.slider-wrapper {
    height: 175px!important;
	}	
}

@media (max-width: 362px) {
	.cambio_idioma_menu{							
		margin-left: 228px;				
	}
	.slider-wrapper {
    height: 170px!important;
	}	
}

@media (max-width: 355px) {
	.cambio_idioma_menu{							
		margin-left: 220px;				
	}
	.slider-wrapper {
    height: 170px!important;
	}	
}

@media (max-width: 350px) {
	.cambio_idioma_menu{							
		margin-left: 218px;				
	}
	.slider-wrapper {
    height: 170px!important;
	}	
}

@media (max-width: 320px) {	
	.cambio_idioma_menu{							
		margin-left: 200px;				
	}
	.navbar-brand {
		margin-left: 0px!important;
	}	
	.navbar-toggle{
		margin-right: 10px;
	}
	.slider-wrapper {
    height: 150px!important;
	}
	.slider-wrapper h3 {
    font-size: 15px!important;
		line-height:25px!important;
	}
	.slider-wrapper p {
    font-size: 13px!important;
		line-height:25px!important;
	}
	.slider-wrapper .caption {
		padding: 5px!important;
		height: 55px;
	}	
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
	}
	section.about-us h2.text-center, section.our-skills h3.text-center, section.our-services h3.text-center, section.our-portfolio h3.text-center, section.contact-us h3.text-center {
    font-size: 28px;
	}
	section.our-skills p.text-center, section.our-services p.text-center, section.our-portfolio p.text-center{
    padding: 0px 10px 30px;
	}
	.fila {
		margin-left: -40px!important;
		margin-right: -40px!important;		
	}
	.serv-info {
		margin-bottom:20px;
	}
}	